.organize__auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vw;
}

.organize__auth-container_box {
    width: 500px;
    border-radius: 10px;
    overflow: hidden;
    background: var(--color-yellow);
    box-shadow: 0 6px 24px rgba(0,0,0,0.05), 0 0 0 1px rgba(0,0,0,0.08);
}

.organize__auth-container_box form {
    display: flex;
    flex-direction: column;
    height: 300px;
    padding: 20px;
}

.organize__auth-container_box form h2 {
    font-family: var(--font-family);
}

.organize__auth-container_box form input {
    padding: 10px 20px;
    margin-bottom: 15px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.3);
}

.organize__auth-container_box form input::placeholder {
    font-family: var(--font-family);
    font-weight: 500;
}

.organize__auth-create {
    background: var(--color-green);
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    cursor: pointer;
}

.organize__auth-create:hover {
    background: greenyellow;
}

.organize__auth-options {
    display: flex;
}

.organize__auth-options button {
    width: 50%;
    border: none;
    padding: 10px;
    color: rgb(35,38,47);
    font-family: var(--font-family);
    font-weight: 500;
    cursor: pointer;
}