@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

:root {
  --font-family: 'Ubuntu', sans-serif;
  --color-green: #e0ffcd;
  --color-yellow: #fdffcd;
  --color-orange: #ffebbb;
  --color-pink: #ffcab0;
  --color-black: #000;
  --color-white: #fff;
  --gradient-bg: linear-gradient(to right, #ee9ca7, #ffdde1);

}
